<main id="main" class="w-full max-w-screen-xl mx-auto">
  <div class="px-6">


<!--        <div id="header-inner-wrapper" class="bg-gray-100 pt-24 lg:pt-0">-->
    <div
      id="content-wrapper"
      class="min-h-screen w-full max-w-full mx-auto"
    >
        <div class="a-section">
            <!-- A1区域 -->
            <div class="a1">
                <img style="width: 50%; height: auto;" src="../images/about2.png" alt="图片A1">
            </div>
            <!-- A2区域 -->
            <div class="a2">
                <p class="mt-6 sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed  text-black   leading-relaxed">
                    道子AI，人工智能艺术团体，将艺术与科学交叉融合，自2013年以来以智能艺术形式创作和展览作品。
                </p>
                <p  class="mt-6 sm:text-lg sm:leading-relaxed md:text-xl md:leading-relaxed text-black leading-relaxed">道子AI试图以人工智能的独特视角出发，进行超脱机械性的价值探寻。在新技术的全新语境下更加深入的探索人与人工智能的关系。</p>
            </div>
        </div>
        <!-- B区域 -->
        <div class="b-section">
            <!-- B1区域 -->
            <div class="b1">
                <img src="../images/about1.jpg" alt="图片B1">
            </div>
            <!-- B2区域 -->
            <div class="b2">
                <img src="../images/about5.png" alt="图片B2">
            </div>
        </div>

    </div>
  </div>
</main>
